[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
annotated-types = "==0.7.0"
asttokens = "==3.0.0"
av = "==13.1.0"
beautifulsoup4 = "==4.13.1"
certifi = "==2025.1.31"
charset-normalizer = "==3.4.1"
click = "==8.1.7"
click-default-group = "==1.2.4"
cloup = "==3.0.5"
dacite = "==1.8.1"
decorator = "==5.1.1"
docstring-to-markdown = "==0.15"
docutils = "==0.21.2"
exceptiongroup = "==1.2.2"
executing = "==2.2.0"
glcontext = "==3.0.0"
idna = "==3.10"
ipython = "==8.34.0"
isosurfaces = "==0.1.2"
jedi = "==0.19.2"
jinja2 = "==3.1.5"
lxml = "==5.3.0"
manim = "==0.19.0"
manim-presentation = "==0.2.1"
manim-slides = "==5.5.0"
manimpango = "==0.6.0"
mapbox-earcut = "==1.0.2"
markdown-it-py = "==3.0.0"
markupsafe = "==3.0.2"
matplotlib-inline = "==0.1.7"
mdurl = "==0.1.2"
moderngl = "==5.12.0"
moderngl-window = "==3.1.1"
multipledispatch = "==1.0.0"
networkx = "==3.4.2"
numpy = "==2.2.3"
opencv-python = "==4.11.0.86"
packaging = "==24.2"
parso = "==0.8.4"
pexpect = "==4.9.0"
pillow = "==11.0.0"
pluggy = "==1.5.0"
prompt-toolkit = "==3.0.50"
ptyprocess = "==0.7.0"
pure-eval = "==0.2.3"
pycairo = "==1.27.0"
pydantic = "==2.10.6"
pydantic-extra-types = "==2.10.2"
pydantic-core = "==2.27.2"
pydub = "==0.25.1"
pyglet = "==2.0.18"
pyglm = "==2.8.0"
pygments = "==2.18.0"
pyqt5 = "==5.15.9"
pyqt5-plugins = "==5.15.9.2.3"
pyqt5-qt5 = "==5.15.2"
pyqt5-tools = "==5.15.9.3.3"
pyqt5-sip = "==12.17.0"
pyrr = "==0.10.3"
pyside6 = "==6.8.2.1"
pyside6-addons = "==6.8.2.1"
pyside6-essentials = "==6.8.2.1"
python-dotenv = "==1.0.1"
python-lsp-jsonrpc = "==1.1.2"
python-lsp-server = "==1.12.0"
python-pptx = "==1.0.2"
pyyaml = "==6.0.2"
qt5-applications = "==5.15.2.2.3"
qt5-tools = "==5.15.2.1.3"
qtpy = "==2.4.2"
requests = "==2.32.3"
rich = "==13.9.4"
rtoml = "==0.12.0"
scipy = "==1.14.1"
screeninfo = "==0.8.1"
shiboken6 = "==6.8.2.1"
skia-pathops = "==0.8.0.post2"
soupsieve = "==2.6"
srt = "==3.5.3"
stack-data = "==0.6.3"
svgelements = "==1.9.6"
tqdm = "==4.67.0"
traitlets = "==5.14.3"
typing-extensions = "==4.12.2"
ujson = "==5.10.0"
urllib3 = "==2.3.0"
watchdog = "==6.0.0"
wcwidth = "==0.2.13"
xlsxwriter = "==3.2.2"
debugpy = "*"

[dev-packages]

[requires]
python_version = "3.10"
